.content{
 width:90%;
 display:block;
 margin:20px auto 25px auto}
.title-page{
 margin:0px 0px 8px 0px;}
.sub-title{
 font-size: 15.2px;
 font-weight: 600;
 display: block;
 letter-spacing: 0.5px;
 margin: 6px 0px 0px 0px;}
.sub-text {
 font-size: 14.7px;
 font-weight: 600;
 display: block;
 letter-spacing: 0.5px;
 margin: 6px 0px 0px 0px;}
.mytext{
 font-size:14.5px;
 font-weight:350;
 display:block;
 line-height:20px;
 letter-spacing:0.5px;
 color:#d7d7d7;
 margin:0px 0px 4px 0px;}
.box-btn-donate{
 display:flex;
 justify-content:flex-start;
 gap:12px;
 margin:10px 0px;}
.btn-donate{
 display:flex;
 justify-content:flex-start;
 gap:6px;
 background:#eee;
 border-radius:8px;
 padding:8px 12px;}
.icon-donate{
 display:block;
 margin:auto 0px;
 height:24px;
 width:auto;}
.title-btn-donate{
 display:block;
 font-size:14.5px;
 font-weight:500;
 color:#060606;
 margin:auto 0px;}
strong {
 font-weight: 650;}